<% if @preview %>
  <article class="post preview">
<% else %>
  <article class="post">
      <% if weekly_status.owned_by?(@user) %>
        <span class="float-right">
          <%= link_to glyph(:edit), edit_weekly_status_path(weekly_status), :class => "btn btn-secondary" %>
          <%= link_to glyph(:delete, true), weekly_status, :method => :delete, :class => "btn btn-danger" %>
        </span>
      <% end %>
<% end %>

  <%= format_entry_section(weekly_status.status_html) %>

  <% unless @preview %>
    <ul class="breadcrumb entry-meta">
      <li class="breadcrumb-item"><%= avatar(weekly_status.author) %><%= link_to weekly_status.author.name, weekly_statuses_by_author_path(:author => weekly_status.author.handle) %></li>
      <li class="breadcrumb-item">
        Erstellt am
        <%= link_to l(weekly_status.created_at, :format => :long), weekly_status_path(weekly_status) %>
      </li>
      <% if weekly_status.created_at != weekly_status.updated_at %>
        <li class="breadcrumb-item">Geändert am <%= l weekly_status.updated_at, :format => :long %></li>
      <% end %>
      <li class="breadcrumb-item">Kommentare: <%= link_to weekly_status.comments.count, weekly_status_path(weekly_status, anchor: 'comments') %></li>
    </ul>
  <% end %>
</article>
