<%= content_for :title, "Blog #{@blog.new_record? ? 'erstellen' : 'bearbeiten'}" %>

<%= simple_form_for(@blog, wrapper: :horizontal_form) do |f| %>
  <legend>Blog <%= @blog.new_record? ? 'erstellen' : 'bearbeiten' %></legend>
  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :description, :as => :text, :input_html => { :class => "col-md-7", :rows => 5 } %>

  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2 ">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
