<h2>Server</h2>

<h3>Ruby-Version</h3>

<p>Der Server läuft unter <%= @ruby_version %>.</p>

<h3>Autorendatenbank</h3>

<dl class="row">
  <dt class="col-2">Gesamtzahl</dt>
  <dd class="col-10"><%= @author_count %></dd>
</dl>

<h3>Log (Letzte 50 Einträge)</h3>

<pre>
  <%= @log %>
</pre>

<h2>Request</h2>

<h3>Headers</h3>

<dl class="row">
  <% @headers.each do |key, value| %>
    <dt class="col-4"><%= key %></dt>
    <dd class="col-8"><%= value %></dd>
  <% end %>
</dl>
